@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');

// Fonts 

$font-pri:  'Ysabeau', sans-serif;



// Colors

$color-200: #F9F7F7; // RGBA(254,215,170,1)
$color-400: #DBE2EF; // RGBA(245,158,11,1)
$color-600: #3F72AF; // RGBA(5,150,105,1)
$color-800: #112D4E; // RGBA(6,95,70,1)
// $color-dark: #86A3B8; // RGBA(3,74,55,1)

// Button Color

$color-btn: #e11d48; // RGBA(225,29,72,1)

// Sizes 


$size-xs: 0.75rem; /* 12px */

$size-sm: 0.875rem; /* 14px */

$size-base: 1rem; /* 16px */

$size-lg: 1.125rem; /* 18px */

$size-xl: 1.25rem; /* 20px */

$size-2xl: 1.5rem; /* 24px */

$size-3xl: 1.875rem; /* 30px */

$size-4xl: 2.25rem; /* 36px */

$size-5xl: 3rem; /* 48px */

$size-6xl: 3.75rem; /* 60px */

$size-7xl: 4.5rem; /* 72px */

$size-8xl: 6rem; /* 96px */

$size-9xl: 8rem; /* 128px */

$size-10xl: 10rem; /* 160px */

