@import './color.scss';

.container {
    width: 100%;
    // height: ;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.small__screen {
    display: none;
}
.large-screen {
    display: none;
}

.small__screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $color-400;

    li {
        margin-top: 2rem 0rem;
        a {
            font-size: $size-4xl;
            font-weight: 500;
        }
    }
}

.button {
    color: $color-200;
    font-size: $size-3xl;
}


.times {
    display: none;
}
// xs
// @media(min-width: 475px) {}

// sm
// @media(min-width: 640px) {}

// md
// @media(min-width: 768px) {}

// lg
// @media(min-width: 1024px) {}

// xl
// @media(min-width: 1280px) {}

// 2xl
// @media(min-width: 1536px) {}