@import './color.scss';

.container {
    width: 100%;
    // height: ;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

header {
    height: $size-7xl;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .bars, .sun {
        padding: 0rem 1rem;
    }

    .sun:hover {
        background-color: $color-btn;
    }

}


.large-screen {
    display: none;
}

.times, .moon {
    display: none;
}


.button {
    color: $color-200;
    font-size: $size-3xl;
}

.small__screen {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $color-400;
    padding: 4rem;
    // display: none;
    
    li {
        transition: transform 3s ease-in-out;
        transform: translate(70px);
        font-size: $size-4xl;
        margin-top: 2rem;
        a {
            font-weight: 600;
            
            &:hover {
                color: $color-600;
                border-bottom: 2px solid $color-600;
            }
        }

    }
}





// xs
@media(min-width: 475px) {
    .small__screen {
        li {
            transition: transform 3s ease-in;
            transform: translate(130px);
            a {
                font-size: $size-4xl;
            }
        }
    }
}

// sm
@media(min-width: 640px) {
    .small__screen {
        li {
            transition: transform 3s ease-in;
            transform: translate(160px);
            a {
                font-size: $size-5xl;
            }
        }
    }
}

// md
@media(min-width: 768px) {
    .bars {
        display: none;
    }
    .small__screen {
        display: none;
    }
    .large-screen {
        transition: 0s;
        display: flex;
        justify-content: center;
        align-items: center;
        
        li {
            color: $color-200;
            margin: 0rem 1rem;
            transform: none;

            a {
                transition: color 0.3s ease-in;
            }

            a:active {
                color: $color-btn;
            }
        }
        .gap-li {
            height: $size-3xl;
            border: 2px solid $color-400;
        }
    }
}

// lg
@media(min-width: 1024px) {
    .small__screen {
        display: none;
    }

    .large-screen {
        transition: none;

        li {
            margin: 0rem 1rem;

            a {
                transition: color 0.5s ease-in;
            }

            a:onClick {
                color: $color-btn;
            }
        .gap-li {
            height: $size-2xl;
            border: 2px solid $color-400;
        }
    }
}

// xl
// @media(min-width: 1280px) {}

// 2xl
@media(min-width: 1536px) {
    header {
        height: $size-8xl;
    }
    .large-screen {
        margin: 1rem 0rem;
        li {
            a {
                font-size: $size-xl;
            }
        }

        .sun {
            font-size: $size-3xl;
        }
    }
}
}